# NumPy Array

In [1]:
import numpy as np

In [2]:
height = [1.87, 1.82, 1.90]
weight = [81.65, 97.52, 95.25]

In [3]:
np_height = np.array(height)
np_weight = np.array(weight)

In [4]:
type(np_height)

numpy.ndarray

* ndarray : n차원 배열

* 내부 원소들에 일괄 계산

In [5]:
# bmi 계산
bmi = np_weight / np_height ** 2
print(bmi)

[23.34925219 29.44088878 26.38504155]

In [6]:
bmi > 25

array([False,  True,  True])

In [7]:
height > 1 # 파이썬 리스트에는 없는 기능

TypeError: '>' not supported between instances of 'list' and 'int'

In [8]:
bmi[bmi > 25]

array([29.44088878, 26.38504155])

# Pandas

In [9]:
import pandas as pd

d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data = d)
df

   col1  col2
0     1     3
1     2     4

In [10]:
df['col1']

0    1
1    2
Name: col1, dtype: int64

In [11]:
df[df.col1 > 1]

   col1  col2
1     2     4

In [12]:
df[df['col1'] > 1]

   col1  col2
1     2     4

In [13]:
df2 = pd.DataFrame( {"Name" : ["Alice", "Ada", "Mallory"]})

In [14]:
df2

      Name
0    Alice
1      Ada
2  Mallory