In [1]:
print("Hello world")

Hello world

In [2]:
x = 1
if x == 1:
    print("x is 1.")

x is 1.

# Variables and Types

* Object Oriented, Dynamic Type 언어
* 정수(int), 부동소수형(float) 두가지 타입

In [3]:
myint = 7
print(myint)

7

In [4]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

* 따옴표(''),이중따옴표("")로 string 표현 가능.

In [5]:
mystring = 'hello'
print(mystring)

hello

In [6]:
mystring = "hello"
print(mystring)

hello

* 이중따옴표는 어퍼스토로피 사용하기 좋음

In [7]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

* 숫자, 문자 모두 + 연산 가능

In [8]:
one = 1
two = 2
three = one + two
print(three)

3

In [9]:
hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

hello world

* 숫자와 문자를 섞어서 연산할 수 없음.

In [10]:
one = 1
two = 2
hello = "hello"
print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# List

* 변수를 담거나 iterate 할 수 있음.

In [11]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0])
print(mylist[1])
print(mylist[2])

1
2
3

In [12]:
for x in mylist:
    print(x)

1
2
3

* 존재하지 않는 index에 접근하면 exception 발생

In [13]:
mylist = [1,2,3]
print(mylist[10])

IndexError: list index out of range

# 기본연산

In [14]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [15]:
remainder = 11 % 3
print(remainder)

2

In [16]:
squared = 7 ** 2
cubed = 2 ** 3

In [17]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [18]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

In [19]:
even_numbers = [2, 4, 6, 8]
odd_numbers = [1, 3, 5, 7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [20]:
print([1,2,3]*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# String Formatting

In [21]:
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [22]:
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [23]:
mylist = [1, 2, 3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

* 알아둬야 하는 포맷들
    * %s - 문자열, String
    * %d - 정수, Integers
    * %f - 부동소수점, floating point numbers
    * %.<자리수>f - 자리수만큼 소수점 오른쪽으로 부동소수점을 출력
    * %x/%X - 16진수표현의 정수(소문자/대문자)

In [24]:
astring = "Hello world!"
astring2 = 'Hello world!'

In [25]:
print(len(astring))

12

In [26]:
astring = "Hello world!"
print(astring.index("o"))

4

In [27]:
astring = "Hello world!"
print(astring.count("l"))

3

* Slice

In [28]:
print(astring[0:3])

Hel

* Slice with Step

In [29]:
print(astring[0:3:2])

Hl

* Reverse

In [30]:
print(astring[::-1])

!dlrow olleH

* 대소문자 변환

In [31]:
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

* 시작, 끝 문자열 검사

In [32]:
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

* split

In [34]:
afewwords = astring.split(" ")
afewwords

['Hello', 'world!']

# 조건문

In [35]:
x = 2
print(x == 2)
print(x == 3)
print(x < 3)

True
False
True

* if문 - indent로 구분

In [36]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

* is operator - instance 자체를 비교

In [37]:
x = [1,2,3]
y = [1,2,3]
print(x == y)
print(x is y)

True
False

* not operator

In [38]:
print(not False)
print((not False) == (False))

True
False

# Loop

In [39]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [40]:
for x in range(5):
    print(x)

0
1
2
3
4

In [41]:
for x in range(3, 6):
    print(x)

3
4
5

In [42]:
for x in range(3, 8, 2):
    print(x)

3
5
7

* while loop

In [43]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

* break, continue

In [44]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [45]:
for x in range(10):
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

* else in loop

In [46]:
count = 0
while(count<5):
    print(count)
    count += 1
else:
    print("count value reached %d" % (count))

0
1
2
3
4
count value reached 5

In [48]:
for i in range(1, 10):
    if(i%5 == 0):
        break
    print(i)
else:
    print("break는 여기에 도달하지 않음.")

1
2
3
4

# 함수

In [49]:
def my_function():
    print("Hello From My Function!")

In [50]:
my_function()

Hello From My Function!

In [51]:
def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s" % (username, greeting))

In [52]:
def sum_two_numbers(a, b):
    return a + b

In [53]:
my_function_with_args("John Doe", "a great year!")

Hello, John Doe , From My Function!, I wish you a great year!

In [55]:
x = sum_two_numbers(1,2)
print(x)

3

# Classes and Object

In [56]:
class MyClass:
    variable = "blah"
    def function(self):
        print("This is a message inside the class.")
myobjectx = MyClass()
myobjectx.variable

'blah'

In [58]:
myobjecty = MyClass()
myobjecty.variable = "yackity"

print(myobjectx.variable)
print(myobjecty.variable)

blah
yackity

In [59]:
myobjectx.function()

This is a message inside the class.

# Dictionary

* key-value 구조를 가짐. hashmap과 비슷.

In [60]:
phonebook = {}
phonebook["John"] = 12345

In [61]:
phonebook

{'John': 12345}

In [62]:
phonebook2 = {'Jack': 56778, 'John':12345}

In [63]:
phonebook2

{'Jack': 56778, 'John': 12345}

* Loop

In [64]:
for key, value in phonebook.items():
    print("%s %d" % (key, value))

John 12345

* 값 삭제

In [65]:
del phonebook["John"]

In [66]:
# phonebook.pop("John")

# Modules and Packages

* 모듈 : 특정한 기능을 가진 코드를 모음.
* python은 간단하게 .py 파일로 모듈을 만들 수 있음.