<a href="https://colab.research.google.com/github/SDRLurker/tensorflow1/blob/master/Tensorflow1_%EC%95%BC%ED%95%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오리엔테이션 - 1일차 시작
* https://www.opentutorials.org/module/4966/28965
* 지도학습 (문제)
  - 회귀
  - 분류
* 머신러닝 알고리즘
  - Decision Tree
  - Random forest
  - KNN
  - SVM
  - **Neural Network**

## Neural Network
* 인공 신경망 = 딥 러닝(인공 신경망을 깊게 쌓음)
* 인간의 신경을 모방하여 만든 머신러닝 알고리즘
* 인공지능 > 머신러닝(기계학습) > 딥러닝

## 딥러닝을 처리하기 위한 라이브러리(도구)
* Tensorflow
```python
import tensorflow as tf
```
* PyTorch, Caffe2, theano

# 목표와 전략
* https://www.opentutorials.org/module/4966/29045
* 원리, 수학, 코딩, 데이터

## 딥러닝 입문 => 실제로는 어려움
  1. 파이썬 기초
  2. 데이터 입문
  3. 머신러닝 이해
  4. 딥러닝의 원리
  5. 딥러닝 구현

## 공부과정
* 코드 => 결과 감상
* 위를 반복하면서 코드와 알고리즘를 파악함.

# 지도학습의 빅픽쳐
* https://www.opentutorials.org/module/4966/28967

1. 과거의 데이터를 준비합니다.

|독립변수(원인)|종속변수(결과)|
|-|-|
|온도|판매량|
|20|40|
|21|42|
|22|44|
|23|46|

2. 모델의 구조를 만듭니다.

3. 데이터로 모델을 학습(FIT)합니다.
  - 모델을 데이터에 맞게 fitting

4. 모델을 이용합니다.
* 원인 15도 => 15 * 2(모델) => 결과 30개

# 실습 환경 - Google Colaboratory - 1일차 - 끝
* https://www.opentutorials.org/module/4966/28969

* Google Drive 내에서 사용할 수 있는 jupyter notebook

In [ ]:
print("안녕, 콜라보레이트리")

안녕, 콜라보레이트리

In [ ]:
text = 'hello, python'
print(text)

hello, python

* ctrl+enter : 셀 위치는 그대로 나둔 상태로 현재 셀 실행
* shift+enter : 현재 셀 실행 후 셀 위치를 다음으로 이동

* https://opentutorials.org/module/4966 의 실습코드 참고

# 표를 다루는 도구 '판다스' - 2일차 시작

* https://opentutorials.org/module/4966/28971

* 변수 
```python
X = 1
X = 2
```

1. 과거의 데이터를 준비합니다.

|독립변수(원인)|종속변수(결과)|
|-|-|
|온도|판매량|
|20|40|
|21|42|
|22|44|
|23|46|

* 코드 예시

```python
import pandas as pd
```

```python
# 데이터 불러오기
파일경로 = 'lemonade.csv'
데이터 = pd.read_csv(파일경로)

# 독립변수와 종속변수의 분리
독립 = 데이터[['온도']]
종속 = 데이터[['판매량']]

# 데이터 모양 확인
print(독립.shape, 종속.shape)
```

* 소스 경로
  - https://bit.ly/2PCYMuW
  - https://github.com/blackdew/tensorflow1/blob/master/practice1-pandas.ipynb

## 실습

### 데이터 준비하기 1

* 실습을 통해 배울 도구들
  - 파일 읽어오기: read_csv('/경로/파일명.csv')
  - 모양 확인하기: 데이터.shape
  - 칼럼 선택하기: 데이터[['칼럼명1', '칼럼명2', '칼럼명3']]
  - 칼럼 이름 출력하기: 데이터.columns
  - 맨 위 5개 관측치 출력하기: 데이터.head()

* 샘플 데이터
  - GitHub github link: https://github.com/blackdew/tensorflow1/tree/master/csv
  - 레모네이드: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv
  - 보스턴: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv
  - 아이리스: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv

In [ ]:
import pandas as pd

In [ ]:
# 파일로부터 데이터 읽어오기
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)

In [ ]:
# 데이터의 모양확인
print(레모네이드.shape)
print(보스턴.shape)
print(아이리스.shape)

(6, 2)
(506, 14)
(150, 5)

In [ ]:
# 데이터 칼럼이름 확인
print(레모네이드.columns)
print(보스턴.columns)
print(아이리스.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [ ]:
# 독립변수와 종속변수 분리
독립 = 레모네이드[['온도']]
종속 = 레모네이드[['판매량']]
print(독립.shape, 종속.shape)

독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 
            'rm', 'age', 'dis', 'rad', 'tax',
            'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

독립 = 아이리스[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 아이리스[['품종']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

In [ ]:
레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
보스턴.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

# 첫번째 딥러닝 - 레모네이드 판매 예측 - 2일차 시작
* https://www.opentutorials.org/module/4966/28974
* 실습 csv
  - https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

In [ ]:
# 라이브러리 사용
import pandas as pd
import tensorflow as tf

## 과거의 데이터를 준비합니다.

In [ ]:
# 데이터 준비
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)
레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
# 종속변수, 독립변수
독립 = 레모네이드[['온도']]
종속 = 레모네이드[['판매량']]

print(독립.shape, 종속.shape)

(6, 1) (6, 1)

## 모델의 구조를 만듭니다.
* 뉴런(세포) 하나로 구성된 신경망이라 생각하면 됨.

In [ ]:
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[1]) # 독립변수 개수=1, 온도
Y = tf.keras.layers.Dense(1)(X) # 종속변수 개수=1, 판매량
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

## 모델을 학습시킵니다. 
* epochs = 전체 데이터를 몇번 반복하여 학습할 것인지 지정.

In [ ]:
model.fit(독립, 종속, epochs=10000, verbose=False)

In [ ]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3925e-04
Epoch 2/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3923e-04
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3921e-04
Epoch 4/10
1/1 [==============================] - 0s 5ms/step - loss: 1.3921e-04
Epoch 5/10
1/1 [==============================] - 0s 9ms/step - loss: 1.3928e-04
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: 1.3942e-04
Epoch 7/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3951e-04
Epoch 8/10
1/1 [==============================] - 0s 6ms/step - loss: 1.3946e-04
Epoch 9/10
1/1 [==============================] - 0s 3ms/step - loss: 1.3946e-04
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 1.3944e-04

# 모델을 이용합니다.

In [ ]:
# 모델을 이용합니다.
model.predict(독립)

array([[40.011665],
       [42.011723],
       [44.01178 ],
       [46.011833],
       [48.01189 ],
       [50.011948]], dtype=float32)

In [ ]:
print(model.predict([[15]]))

[[30.011387]]

## Loss
* model.fit(독립, 종속, epochs=10)
```
Epoch 992/1000 <= 몇번째 학습인지
- 0s 1ms/step  <= 한 번 학습하는데 시간이 얼마나 걸렸는지
- loss: 0.0039 <= 얼마나 정답에 가까운지 평가하는 지표
```

* 학습과정(초기)
  - loss = Error<sup>2</sup>의 평균 = 11.5
  
|온도|판매량|예측|Error<sup>2</sup>|
|-|-|-|-|
|20|40|35|25|
|21|42|40|4|
|22|44|45|1|
|23|46|50|16|

* 학습과정(이상적인)
  - loss = Error<sup>2</sup>의 평균 = 0
  
|온도|판매량|예측|Error<sup>2</sup>|
|-|-|-|-|
|20|40|40|0|
|21|42|42|0|
|22|44|44|0|
|23|46|46|0|

# 두번째 딥러닝 - 보스턴 집값 예측 - 3일차 시작
* https://www.opentutorials.org/module/4966/28976

## y=2x

|온도|판매량|
|-|-|
|20|40|
|21|42|
|22|44|
|23|46|

* 평균값 
* 중앙값 
* 평균값에 이상치가 있을 경우 대표값을 중앙값을 사용함.

```python
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[13]) # 독립변수 개수=13
Y = tf.keras.layers.Dense(1)(X) # 종속변수 개수=1
```
* 위의 모델은 다음 수식으로 구성됨(퍼셉트론)
  - y = w1x1 + w2x2 + ... + w13x13 + b
  - w? : 가중치
  - b : 편향

## 보스턴 집값 예측
* github csv url: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
파일경로 = "https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv"
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
# 3.데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 25.5608
Epoch 2/10
16/16 [==============================] - 0s 871us/step - loss: 25.6478
Epoch 3/10
16/16 [==============================] - 0s 914us/step - loss: 25.6511
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 25.3779
Epoch 5/10
16/16 [==============================] - 0s 996us/step - loss: 25.4074
Epoch 6/10
16/16 [==============================] - 0s 871us/step - loss: 25.3895
Epoch 7/10
16/16 [==============================] - 0s 884us/step - loss: 25.8513
Epoch 8/10
16/16 [==============================] - 0s 981us/step - loss: 25.1796
Epoch 9/10
16/16 [==============================] - 0s 999us/step - loss: 25.6288
Epoch 10/10
16/16 [==============================] - 0s 980us/step - loss: 25.8072

In [ ]:
# 4. 모델을 이용합니다.
model.predict(독립[5:10])

array([[25.8448  ],
       [20.939053],
       [17.858572],
       [ 9.337376],
       [17.39985 ]], dtype=float32)

In [ ]:
종속[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [ ]:
# 모델의 수식 확인
print(model.get_weights())

[array([[-0.08768073],
       [ 0.06962469],
       [-0.05136653],
       [ 3.2962608 ],
       [ 1.2856438 ],
       [ 4.3567653 ],
       [ 0.00879909],
       [-0.9402961 ],
       [ 0.15372771],
       [-0.01027822],
       [-0.07445979],
       [ 0.01528562],
       [-0.5484166 ]], dtype=float32), array([2.5861936], dtype=float32)]

# 학습의 실제 - 3일차 끝
* https://www.opentutorials.org/module/4966/28977
* 딥러닝 워크북에서 손으로 모델을 학습시켜 보며 딥러닝이 학습하는 원리를 배웁니다.

## 딥러닝 워크북 
* https://bit.ly/2DEBlPd

# 세번째 딥러닝 - 아이리스 품종 분류 - 4일차 시작~끝
* https://www.opentutorials.org/module/4966/28987

* Sepal : 꽃잎
* Petal : 꽃받침
* https://bit.ly/2DJ9TQJ
* 종속변수는 품종으로 숫자가 아님. => 범주형

* 양적 데이터 -> 회귀(regression)
* 범주형 데이터 -> 분류(classification)

## 원핫인코딩
* 종속변수 4개 : 꽃잎길이, 꽃잎퍽, 꽃받침길이, 꽃받침폭
* 범주형변수 : 수식으로 변경하는 과정 필요

|품종|=>|setosa|virginica|versicolor|
|-|-|-|-|-|
|setosa|=>|1|0|0|
|virginica|->|0|1|0|
|versicolor|->|0|0|1|
|setosa|=>|1|0|0|
|versicolor|->|0|0|1|

|꽃잎길이|꽃잎폭|꽃받침길이|꽃받침폭|품종|
|-|-|-|-|-|
|5.1|3.5|1.4|0.2|setosa|
|4.9|3.0|1.4|0.2|virginica|
|4.7|3.2|1.3|0.2|versicolor|
|4.6|3.1|1.5|0.2|setosa|

```python
# 학습할 데이터를 준비합니다.
아이리스 = pd.read_csv('iris.csv')
```

|꽃잎길이|꽃잎폭|꽃받침길이|꽃받침폭|품종.setosa|품종.verginica|품종.versicolor|
|-|-|-|-|-|-|-|
|5.1|3.5|1.4|0.2|1|0|0|
|4.9|3.0|1.4|0.2|0|1|0|
|4.7|3.2|1.3|0.2|0|0|1|
|4.6|3.1|1.5|0.2|1|0|0|

```python
# 원핫인코딩
아이리스 = pd.get_dummies(아이리스)
```

```python
# 2 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[4])
Y = tf.keras.layers.Dense(3, activation='softmax')(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy')
```

## 소프트맥스
* 분류 예측 
* 0% ~ 100% 확률형태로 예측함.
  - Sigmoid, Softmax

* 선형모델의 예측값은 -무한대~무한대의 결과가 나옴.
* 분류모델은 0~1 사이의 확률값을 원하기 때문에 Softmax를 사용.
* 활성화(Actication) 함수
  - 회귀모델: Identity(y=x)
  - 분류모델: Softmax

* 문제에 따라 loss를 다른 함수를 사용해야 함.
  - 분류 : categorical_crossentropy
  - 회귀 : mse

```python
model.compile(loss='categorical_crossentropy',
  metrics='accuracy')
```

## 실습
* github csv url: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [ ]:
# 원핫인코딩
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [ ]:
print(인코딩.columns)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

In [ ]:
# 독립변수, 종속변수
독립 = 인코딩[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 인코딩[['품종_setosa', '품종_versicolor', '품종_virginica']]
print(독립.shape, 종속.shape)

(150, 4) (150, 3)

In [ ]:
# 2. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[4])
Y = tf.keras.layers.Dense(3, activation='softmax')(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy',
              metrics='accuracy')

In [ ]:
# 3. 데이터로 모델을 학습(FIT) 합니다.
model.fit(독립, 종속, epochs=100)

Epoch 1/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.9333
Epoch 2/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.9333
Epoch 3/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.9333
Epoch 4/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.9267
Epoch 5/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.9333
Epoch 6/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.9400
Epoch 7/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.9333
Epoch 8/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.9333
Epoch 9/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.9400
Epoch 10/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.9400
Epoch 11/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.9400
Epoch 12/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.9333
Epoch 13/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.9467
Epoch 14/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.9400
Epoch 15/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.9400
Epoch 16/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.9333
Epoch 17/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3298 - accuracy: 0.9333
Epoch 18/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3301 - accuracy: 0.9333
Epoch 19/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3291 - accuracy: 0.9333
Epoch 20/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3286 - accuracy: 0.9533
Epoch 21/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3276 - accuracy: 0.9400
Epoch 22/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3273 - accuracy: 0.9467
Epoch 23/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3274 - accuracy: 0.9400
Epoch 24/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3260 - accuracy: 0.9467
Epoch 25/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3256 - accuracy: 0.9400
Epoch 26/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3260 - accuracy: 0.9400
Epoch 27/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3247 - accuracy: 0.9400
Epoch 28/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3242 - accuracy: 0.9533
Epoch 29/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3237 - accuracy: 0.9467
Epoch 30/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3229 - accuracy: 0.9467
Epoch 31/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3233 - accuracy: 0.9533
Epoch 32/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.9467
Epoch 33/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3221 - accuracy: 0.9467
Epoch 34/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.9467
Epoch 35/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3203 - accuracy: 0.9533
Epoch 36/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3206 - accuracy: 0.9467
Epoch 37/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3205 - accuracy: 0.9467
Epoch 38/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3190 - accuracy: 0.9533
Epoch 39/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3186 - accuracy: 0.9533
Epoch 40/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3178 - accuracy: 0.9467
Epoch 41/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3179 - accuracy: 0.9600
Epoch 42/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3176 - accuracy: 0.9533
Epoch 43/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3168 - accuracy: 0.9600
Epoch 44/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3161 - accuracy: 0.9533
Epoch 45/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3165 - accuracy: 0.9467
Epoch 46/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3152 - accuracy: 0.9533
Epoch 47/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3150 - accuracy: 0.9533
Epoch 48/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3146 - accuracy: 0.9533
Epoch 49/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3136 - accuracy: 0.9533
Epoch 50/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3134 - accuracy: 0.9600
Epoch 51/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3128 - accuracy: 0.9533
Epoch 52/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3120 - accuracy: 0.9600
Epoch 53/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3123 - accuracy: 0.9600
Epoch 54/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3114 - accuracy: 0.9667
Epoch 55/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3108 - accuracy: 0.9533
Epoch 56/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3102 - accuracy: 0.9533
Epoch 57/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3101 - accuracy: 0.9667
Epoch 58/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3094 - accuracy: 0.9533
Epoch 59/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3085 - accuracy: 0.9667
Epoch 60/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3077 - accuracy: 0.9600
Epoch 61/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3074 - accuracy: 0.9600
Epoch 62/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3067 - accuracy: 0.9600
Epoch 63/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3060 - accuracy: 0.9600
Epoch 64/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3066 - accuracy: 0.9600
Epoch 65/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3054 - accuracy: 0.9667
Epoch 66/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3055 - accuracy: 0.9600
Epoch 67/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3039 - accuracy: 0.9667
Epoch 68/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3035 - accuracy: 0.9667
Epoch 69/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3043 - accuracy: 0.9600
Epoch 70/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3043 - accuracy: 0.9533
Epoch 71/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3029 - accuracy: 0.9667
Epoch 72/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3031 - accuracy: 0.9600
Epoch 73/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3018 - accuracy: 0.9667
Epoch 74/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3014 - accuracy: 0.9600
Epoch 75/100
5/5 [==============================] - 0s 1ms/step - loss: 0.3009 - accuracy: 0.9667
Epoch 76/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3009 - accuracy: 0.9600
Epoch 77/100
5/5 [==============================] - 0s 2ms/step - loss: 0.3001 - accuracy: 0.9667
Epoch 78/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2996 - accuracy: 0.9600
Epoch 79/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2988 - accuracy: 0.9667
Epoch 80/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2994 - accuracy: 0.9600
Epoch 81/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2979 - accuracy: 0.9600
Epoch 82/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2972 - accuracy: 0.9667
Epoch 83/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2973 - accuracy: 0.9600
Epoch 84/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2965 - accuracy: 0.9600
Epoch 85/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2969 - accuracy: 0.9600
Epoch 86/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2953 - accuracy: 0.9667
Epoch 87/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2951 - accuracy: 0.9600
Epoch 88/100
5/5 [==============================] - 0s 3ms/step - loss: 0.2950 - accuracy: 0.9667
Epoch 89/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2949 - accuracy: 0.9667
Epoch 90/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2939 - accuracy: 0.9667
Epoch 91/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2930 - accuracy: 0.9667
Epoch 92/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2932 - accuracy: 0.9667
Epoch 93/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2921 - accuracy: 0.9667
Epoch 94/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2917 - accuracy: 0.9667
Epoch 95/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2916 - accuracy: 0.9600
Epoch 96/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2921 - accuracy: 0.9667
Epoch 97/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2906 - accuracy: 0.9600
Epoch 98/100
5/5 [==============================] - 0s 2ms/step - loss: 0.2911 - accuracy: 0.9600
Epoch 99/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2901 - accuracy: 0.9667
Epoch 100/100
5/5 [==============================] - 0s 1ms/step - loss: 0.2893 - accuracy: 0.9667

In [ ]:
# 모델을 이용합니다.
model.predict(독립[-5:])

array([[2.6050227e-04, 2.3318745e-01, 7.6655203e-01],
       [2.6636507e-04, 2.2753285e-01, 7.7220082e-01],
       [4.5437628e-04, 3.3855778e-01, 6.6098785e-01],
       [3.0129604e-04, 3.7279987e-01, 6.2689883e-01],
       [6.5591553e-04, 4.5180890e-01, 5.4753518e-01]], dtype=float32)

In [ ]:
print(종속[-5:])

     품종_setosa  품종_versicolor  품종_virginica
145          0              0             1
146          0              0             1
147          0              0             1
148          0              0             1
149          0              0             1

In [ ]:
# 학습한 가중치
model.get_weights()

[array([[ 0.27260154, -0.3569841 , -0.179428  ],
        [ 1.7485045 ,  0.5206071 , -1.1665763 ],
        [-2.1834552 ,  0.31695825,  0.78363377],
        [-2.552425  , -1.5211626 ,  0.09719723]], dtype=float32),
 array([ 1.011406  ,  0.33625552, -0.75070065], dtype=float32)]

# 네번째 딥러닝 - 신경망의 완성:히든레이어 - 5일차 시작
* https://opentutorials.org/module/4966/28988
* 히든레이어와 멀티레이어의 구조를 이해하고, 히든레이어를 추가한 멀티레이어 인공신경망 모델을 완성해 봅니다.

## 멀티레이어 신경망
![](https://s3-ap-northeast-2.amazonaws.com/opentutorials-user-file/module/4992/12388.png)

* 딥러닝 모델 구조 코드
```python
# 2. 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(5, activation='swish')(X)
H = tf.keras.layers.Dense(3, activation='swish')(H) # 이렇게 계층 추가 가능.
H = tf.keras.layers.Dense(3, activation='swish')(H) # 이렇게 계층 추가 가능.
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')
```

* 활성화 함수 
  - 최근 발표로 swish가 좋다고 함.

## 히든레이어
* 보스턴 집값 예측: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
파일경로 = "https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv"
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10, activation='swish')(X)
Y = tf.keras.layers.Dense(1)(H) # 딥러닝일 때 H로 변경 필수!
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
model.summary()

Model: "functional_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                140
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 3. 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 22.1208
Epoch 2/10
16/16 [==============================] - 0s 844us/step - loss: 23.1119
Epoch 3/10
16/16 [==============================] - 0s 837us/step - loss: 22.2142
Epoch 4/10
16/16 [==============================] - 0s 794us/step - loss: 22.7748
Epoch 5/10
16/16 [==============================] - 0s 795us/step - loss: 21.9914
Epoch 6/10
16/16 [==============================] - 0s 821us/step - loss: 22.2240
Epoch 7/10
16/16 [==============================] - 0s 812us/step - loss: 22.2459
Epoch 8/10
16/16 [==============================] - 0s 849us/step - loss: 23.0748
Epoch 9/10
16/16 [==============================] - 0s 816us/step - loss: 21.2192
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 22.1613

In [ ]:
# 4. 모델을 이용합니다.
print(model.predict(독립[:5]))
print(종속[:5])

[[29.468052]
 [23.785658]
 [29.10449 ]
 [28.579548]
 [28.121658]]
   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

## 히든레이어
* 아이리스 품종 분류 예측: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [ ]:
# 원핫인코딩
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [ ]:
print(인코딩.columns)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

In [ ]:
# 독립변수, 종속변수
독립 = 인코딩[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 인코딩[['품종_setosa', '품종_versicolor', '품종_virginica']]
print(독립.shape, 종속.shape)

(150, 4) (150, 3)

In [ ]:
# 2. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[4])
H = tf.keras.layers.Dense(8, activation='swish')(X)
H = tf.keras.layers.Dense(8, activation='swish')(H)
H = tf.keras.layers.Dense(8, activation='swish')(H)
Y = tf.keras.layers.Dense(3, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy',
              metrics='accuracy')

In [ ]:
# 3. 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=100)

In [ ]:
# 4. 모델을 이용합니다.
print(model.predict(독립[0:5]))
print(종속[0:5])

[[9.9999547e-01 2.8708016e-06 1.6167521e-06]
 [9.9997354e-01 1.9628678e-05 6.7464903e-06]
 [9.9998474e-01 9.6098229e-06 5.5817177e-06]
 [9.9989414e-01 8.3379353e-05 2.2408185e-05]
 [9.9999523e-01 2.9774981e-06 1.8389584e-06]]
   품종_setosa  품종_versicolor  품종_virginica
0          1              0             0
1          1              0             0
2          1              0             0
3          1              0             0
4          1              0             0

# 부록1: 데이터를 위한 팁 - 5일차
* https://opentutorials.org/module/4966/28989
* 데이터 타입의 문제와 NA값의 문제를 해결하는 데이터 전처리 방법을 배웁니다.

## 데이터 타입 조정
* https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv
* 변수(칼럼) 타입 확인: 데이터, dtypes
* 변수를 범주형으로 변경:
  - 데이터['칼럼명'].astype('category')
* 변수를 숫자형으로 변경:
  - 데이터['칼럼명'].astype('int')  
  - 데이터['칼럼명'].astype('float')
* NA 값의 처리
  - NA 갯구 체크: 데이터.isna().sum()
  - NA 값 채우기: 데이터['칼럼명'].fillna(특정숫자)

In [ ]:
import pandas as pd

In [ ]:
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [ ]:
# 원핫인코딩
# => 품종이 범주형(category 또는 object)이 아니라서 원핫인코딩이 안됨.
인코딩 = pd.get_dummies(아이리스) 
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [ ]:
print(아이리스.dtypes)

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [ ]:
# 품종 타입을 범주형으로 바꾸어 준다.
아이리스['품종'] = 아이리스['품종'].astype('category')
print(아이리스.dtypes)

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [ ]:
# 원핫인코딩
인코딩 = pd.get_dummies(아이리스) 
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

In [ ]:
# NA 값을 체크해 봅시다.
아이리스.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [ ]:
아이리스.tail()

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [ ]:
# NA 값에 꽃잎폭 평균값을 넣어주는 방법
mean = 아이리스['꽃잎폭'].mean()
print(mean)
아이리스['꽃잎폭'] = 아이리스['꽃잎폭'].fillna(mean)
아이리스['꽃잎폭'].tail()

3.0543624161073835

145    3.000000
146    2.500000
147    3.000000
148    3.400000
149    3.054362
Name: 꽃잎폭, dtype: float64

# 부록2: 모델을 위한 팁 - 5일차
* https://opentutorials.org/module/4966/29242
* BatchNormalization layer를 사용하여 보다 학습이 잘되는 모델을 만들어 봅니다.

## 학습이 잘 되는 모델
* 사용할 레이어
  - tf.keras.layers.BatchNormalization()
  - tf.keras.layers.Activation('swish')
* 데이터
  - 보스턴 집값 예측: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv
  - 아이리스 품종 분류: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv

## 보스턴 집값 예측

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비합니다.
파일경로 = "https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv"
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[13])

H = tf.keras.layers.Dense(8)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

Y = tf.keras.layers.Dense(1)(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
# 3. 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 9.3108
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 8.9504
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 8.1804
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 8.6789
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 6.8404
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 8.4385
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 8.4854
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 9.5547
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 7.7842
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 10.8015

In [ ]:
# 4. 모델을 이용합니다.
print(model.predict(독립[:5]))
print(종속[:5])

[[25.100924]
 [22.78628 ]
 [33.719624]
 [30.239506]
 [32.690304]]
   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

## 아이리스 품종 분류

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [ ]:
# 원핫인코딩
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [ ]:
print(인코딩.columns)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

In [ ]:
# 독립변수, 종속변수
독립 = 인코딩[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 인코딩[['품종_setosa', '품종_versicolor', '품종_virginica']]
print(독립.shape, 종속.shape)

(150, 4) (150, 3)

In [ ]:
# 2. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[4])

H = tf.keras.layers.Dense(8)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)

Y = tf.keras.layers.Dense(3, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy',
              metrics='accuracy')

In [ ]:
# 3. 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0335 - accuracy: 0.9867
Epoch 2/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0514 - accuracy: 0.9733
Epoch 3/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0124 - accuracy: 1.0000
Epoch 4/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0163 - accuracy: 0.9933
Epoch 5/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0725 - accuracy: 0.9867
Epoch 6/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0941 - accuracy: 0.9467
Epoch 7/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0223 - accuracy: 0.9867
Epoch 8/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0308 - accuracy: 0.9933
Epoch 9/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0194 - accuracy: 0.9933
Epoch 10/10
5/5 [==============================] - 0s 2ms/step - loss: 0.0142 - accuracy: 0.9933

In [ ]:
# 4. 모델을 이용합니다.
print(model.predict(독립[0:5]))
print(종속[0:5])

[[1.0000000e+00 6.9802680e-10 8.2275228e-11]
 [1.0000000e+00 3.8571943e-10 1.0447679e-11]
 [1.0000000e+00 3.2935699e-09 3.8407164e-12]
 [9.9999976e-01 2.3882882e-07 2.9285463e-12]
 [1.0000000e+00 4.2762096e-09 5.2550291e-11]]
   품종_setosa  품종_versicolor  품종_virginica
0          1              0             0
1          1              0             0
2          1              0             0
3          1              0             0
4          1              0             0

# 수업을 마치며 - 5일차 끝
* https://opentutorials.org/module/4966/28990

* 주변의 데이터를 관찰하여 독립변수, 종속변수를 구분하고 학습하기